body, h1, h2, h3, h4, p, figure, div, section, img {
  margin: 0;
  padding: 0;
}

.App {
  height: max-content;
  background-color: #0d1116;
  background-attachment: scroll;
  text-align: center;
  background-image: url("../assets/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container {
  height: 100%;
  /* background: linear-gradient(0.25turn, #004cff,#36abff,#99d5ff, #36abff, #004cff); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  padding-top: 30px;
}

.title-container {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.title-container section {
  padding: 0;
}

.title {
  font-family: Wonder, sans-serif;
  color: #5bb0cc;
  font-size: 9.5vw;
  padding: 0;
  margin: 0;
}

.title2 {
  font-family: Alien, sans-serif;
  color: #000000;
  font-size: 7.75vw;
  padding: 0;
  margin: 0;
  text-shadow: 1.5px 1.5px 2px #FFFFFF;
  font-style: bold;
}

.title3 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
  color: #ffffff;
  font-size: 6vw;
  padding: 0;
  margin: 0px 20px;
}

.header {
  margin: 0;
  font-size: 50px;
  font-weight: bold;
}

.sub-text {
  font-size: 50px;
  color: white;;
  margin: 60px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.p-text {
  padding-bottom: 20px;
  font-size: 40px;
  color: white;;
  margin: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.h-text {
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 50px;
  color: #5bb0cc;
  margin: 10px;
  font-style: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.cta-button {
  height: 120px;
  border: 0;
  width: auto;
  padding-left: 200px;
  padding-right: 200px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 36px;
  font-weight: bold;
  color: white;
}

.connect-wallet-button {
  background: -webkit-linear-gradient(left, #6ca7ff, #5bb0cc);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  border-radius: 15px;
}

.mint-button {
  background: -webkit-linear-gradient(left, #a200d6, #ff6fdf);
  background-size: 200% 200%;
  animation: gradient-animation 4s ease infinite;
  margin-right: 15px;
}

.opensea-button {
  background-color: rgb(32, 129, 226);
}

.mint-count {
  color: white;
  font-size: 18px;
  font-weight: bold;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.twitter-logo {
  width: 100px;
  height: 100px;
}

.footer-text {
  color: #5bb0cc;
  font-size: 36px;
  font-weight: bold;
  text-decoration: none;
}

.timer {
  padding-top: 60px;
  padding-bottom: 40px;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@font-face { font-family: Wonder; src: url('../assets/fonts/wonder.ttf'); }
@font-face { font-family: Alien; src: url('../assets/fonts/alien.otf'); }

.links-container {
  margin: 50px 0;
}

.links {
  padding: 24px 50px;
  background: #000000;
  animation: gradient-animation 4s ease infinite;
  background-size: 400% 400%;
  border-radius: 10px;
  text-decoration: none;
  color: #FFFFFF;
  margin: 0 15px;
  font-size: 48px;
  font-family: Alien, sans-serif;
  box-shadow: #FFFFFF 1px 0 5px;
  font-style: bold;
}

.cont2 {
 margin: 40px;
 background: rgba(125, 125, 125, 0.3); /* Green background with 30% opacity */
 border-radius: 30px;
 padding: 30px;
}