@media screen and (min-width: 480px) {
    .slideshow {
        width: 400px;
        margin: 0 auto;
        overflow:hidden;
        border-radius: 20px;
    }
    
    .slides {
        width:1200px; /* 300 x 4 */
        position:relative;
        -webkit-animation:slide 20s ease-in-out infinite;
        -moz-animation:slide 20s ease-in-out infinite;
        -ms-animation:slide 20s ease-in-out infinite;
        -o-animation:slide 20s ease-in-out infinite;
        animation:slide 20s ease-in-out infinite;
    }
    
    .slides section {
        width:300px;
        height:300px;
        float:left; 
    }
  }


.slideshow {
    width: 800px;
    margin: 0 auto;
    overflow:hidden;
    border-radius: 20px;
}

.slides {
    width:3200px; /* 300 x 4 */
    position:relative;
    -webkit-animation:slide 20s ease-in-out infinite;
    -moz-animation:slide 20s ease-in-out infinite;
    -ms-animation:slide 20s ease-in-out infinite;
    -o-animation:slide 20s ease-in-out infinite;
    animation:slide 20s ease-in-out infinite;
}

.slides section {
    width:800px;
    height:800px;
    float:left; 
}

.slides section:nth-child(1) {background-image: url("../assets/ImageSlider/1.jpeg"); background-size: cover;}
.slides section:nth-child(2) {background-image: url("../assets/ImageSlider/2.jpeg"); background-size: cover;}
.slides section:nth-child(3) {background-image: url("../assets/ImageSlider/3.jpeg"); background-size: cover;}
.slides section:nth-child(4) {background-image: url("../assets/ImageSlider/2.jpeg"); background-size: cover;}

.slides:hover {
   animation-play-state:paused;
   -webkit-animation-play-state:paused;
}

@-webkit-keyframes slide {
    0% {left:0;}
    25% {left:-800px;}
    50% {left:-1600px;}
    75% {left:-2400px;}
    100% {left:0;}
}
@-moz-keyframes slide {
    0% {left:0;}
    25% {left:-800px;}
    50% {left:-1600px;}
    75% {left:-2400px;}
    100% {left:0;}
}
@-ms-keyframes slide {
    0% {left:0;}
    25% {left:-800px;}
    50% {left:-1600px;}
    75% {left:-2400px;}
    100% {left:0;}
}
@-o-keyframes slide {
    0% {left:0;}
    25% {left:-800px;}
    50% {left:-1600px;}
    75% {left:-2400px;}
    100% {left:0;}
}
@keyframes slide {
    0% {left:0;}
    25% {left:-800px;}
    50% {left:-1600px;}
    75% {left:-2400px;}
    100% {left:0;}
}



